@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.container {
    padding-left: 100px;
    padding-right: 100px;
}

header {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}

.header-logo {
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.header-links {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.header-link  {
    color: white;
    text-decoration: none;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    background-color: #1F2937;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
}

.hero-left {
    flex-basis: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.signup-button {
    width: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(59, 136, 252, 0.986);
    border: none;
    border-radius: 5px;
    color: white;
    flex-grow: 0;
}

.placeholder-image {
    height: 200px;
    width: 500px;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.features {
    padding-top: 30px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.feature-cards {
    display: flex;
    gap: 30px;
}

.card {
    flex-basis: 140px;
    display:flex;
    flex-direction: column;
    gap: 10px;
}

.card-image {
    height: 145px;
    width: 140px;
    border: 3px solid rgba(59, 136, 252, 0.986);
    border-radius: 15px;
}

.card-text {
    font-size: 13px;
    text-align: center;
}

.testimonial {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: rgb(233, 233, 233);
}

.testimonial blockquote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    margin: 0 auto;
    font-size: 22px;
}

.testimonial p {
    font-weight: 300;

}

.testimonial cite{
    align-self: end;
    font-weight: 700;
    font-size: 17px;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
}

.call-to-action-card {
    width: 60%;
    height: 50%;
    border-radius: 10px;
    background-color: #3b82f6;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    color: white;
}

.call-to-action-button {
    padding: 10px 40px;
    border: 2px solid white;
    background-color:#3b82f6;
    color: white;
    border-radius: 7px;
}

footer {
    background-color: #1F2937;
    color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}